@import '../../scssVariables/index.scss';

.playlist-header {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    font-family: sans-serif;
    color: $black;
    align-items: flex-start;
    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
    @media (min-width: 1000px) {
        flex-direction: column;
        align-items: flex-start;
        width: 350px;
    }
    &__text-container {
        margin-top: 20px;
        @media (min-width: 768px) {
            margin-left: 32px;
        }
        @media(min-width: 1000px) {
            margin-left: 0;
        }
    }
    &__name {
        cursor: pointer;
        display: flex;
        align-items: center;
        .fa-pencil-alt {
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
    &__underline {
        display: block;
        width: 100%;
        height: 4px;
        background: $black;
        margin-bottom: 16px;
        transform-origin: left;
    }
    &__name-input {
        font-family: $font--heading;
        color: $black;
        font-size: 2.25rem;
        font-weight: 700;
        border: none;
        border-bottom: solid 4px $black;
        padding: 8px 0;
        vertical-align: middle;
    }
    &__own-playlist-inner-container {
        max-width: 100%;
    }
}