.followers {
    padding: 16px;
    text-align: center;
    color: $color--primary;
    p {
        font-family: sans-serif;
        font-weight: 400;
        display: inline-block;
        margin-left: 8px;
    }
}