.playlist-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 32px;
    font-family: sans-serif;
    color: $color--primary;
    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
    @media (min-width: 1000px) {
        flex-direction: column;
        align-items: flex-start;
        width: 320px;
    }
    &__image {
        width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: 50% 50%;
    }
    &__text-container {
        @media (min-width: 768px) {
            margin-left: 32px;
        }
        @media(min-width: 1000px) {
            margin-left: 0;
        }
    }
    &__underline {
        display: block;
        width: 100%;
        height: 4px;
        background: $color--primary;
        margin-bottom: 16px;
        transform-origin: left;
    }
    &__owner {

    }
}