@import '../../scssVariables/index.scss';

.landing-header {
    padding: 60px 40px;
    min-height: 400px;
    background: linear-gradient(150deg, $brand 25%, #07dada);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    &__tagline {
        font-family: $font--body;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
        color: $white;
    }
    .fa-spotify {
        font-size: 80px;
        color: $white;
    }
}

.app-feature {
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &.app-feature--1 {
        background-color: $white;
        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }
    }
    &.app-feature--2 {
        background-color: $offWhite;
        @media (min-width: 600px) {
            flex-direction: row;
            align-items: center;
        }
    }
    &.app-feature--3 {
        background-color: $grey;
        @media (min-width: 600px) {
            flex-direction: row;
            align-items: center;
        }
    }
    &__description {
        font-family: $font--body;
        color: $black;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.4;
    }
    &__heading-underline {
        display: inline-block;
        width: 100%;
        height: 4px;
        background: $black;
    }
    &__image {
        max-width: 100%;
    }
    &__text-container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &.app-feature__text-container--1 {
            @media (min-width: 768px) {
                margin-top: 0;
                margin-left: 30px;
            }
            @media (min-width: 1000px) {
                margin-left: 60px;
            } 
        }
        &.app-feature__text-container--2 {
            @media (min-width: 600px) {
                margin-top: 0;
                margin-right: 30px;
            }
            @media (min-width: 1000px) {
                margin-right: 60px;
            } 
        }
        &.app-feature__text-container--3 {
            @media (min-width: 600px) {
                margin-top: 0;
                margin-left: 30px;
            }
            @media (min-width: 1000px) {
                margin-left: 60px;
            } 
        }
    }
}

.highlights-image {
    max-width: 100%;
    height: auto;
    @media (min-width: 768px) {
        width: 50%;
    }
    @media(min-width: 1000px) {
        width: initial;
    }
}

.player-image {
    max-width: 100%;
    order: -1;
    max-height: 300px;
    @media (min-width: 600px) {
        order: 1;
    }
}

.profile-image {
    max-width: 100%;
    max-height: 300px;
}

.landing-footer {
    padding: 60px 40px;
    background: linear-gradient(150deg,  #07dada, $brand 75%,);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__link {
        font-family: $font--body;
        font-weight: 700;
        font-size: 16px;
        color: $white;
        text-decoration: underline;
        &:hover {
            color: $black;
        }
    }
    .fa-github {
        color: $white;
        font-size: 32px;
        margin-bottom: 8px;
    }
}
