@import '../../scssVariables/index.scss';

.button {
    font-family: $font--body;
    font-weight: 700;
    font-size: 13px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    transition: background ease-out 0.2s;
    cursor: pointer;
    &.button--standard {
        color: $white;
        background: $brand;
        border-bottom: solid 2px $brand--darkened;
        &.active {
            background: $brand--darkened;
        }
    }
    &.button--alternate {
        color: $black;
        background: $offWhite;
        border-bottom: solid 2px $grey;
        &.active {
            background: $grey;
        }
    }
    &.button--white {
        color: $black;
        background: $white;
        border-bottom: solid 2px $offWhite;
        &.active {
            background: $offWhite;
        }
    }
    &.button--warning {
        color: $white;
        background: $warning;
        border-bottom: solid 2px $warning--darkened;
        &.active {
            background: $warning--darkened;
        }
    }
}