@import '../../scssVariables/index.scss';

.upload-image-modal {
    p {
        font-family: sans-serif;
        color: $black;
    }
    &__input {
        width: 0.1px;
	    height: 0.1px;
	    opacity: 0;
	    overflow: hidden;
	    position: absolute;
	    z-index: -1;
    }
    &__label {
        padding: 8px 16px;
        background: $brand;
        border: none;
        border-radius: 4px;
        color: $white;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        vertical-align: middle;
        & .fa-upload {
            margin-right: 16px;
        }
    }
    &__button {
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 700;
        padding: 8px;
        color: $white;
        background: $warning;
        margin-left: 8px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        vertical-align: middle;
    }
}