.album {
    padding: 50px 20px 20px 20px;
    @media (min-width: 1000px) {
        display: flex;
        align-items: flex-start;
    } 
    &__tracks-container {
        margin-top: 32px;
        @media(min-width: 1000px) {
            flex-grow: 1;
            margin-top: 16px;
            margin-left: 32px;
            max-width: calc(100% - 382px);
        }
    }
}