.smart-image {
    position: relative;
    margin: 0;
    &--fluid {
        width: 100%;
        padding-bottom: 100%;
    }
    &--fixed {
        width: 250px;
        height: 250px;
    }
    &__fallback {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
    &__main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        opacity: 1;
        &.hide-image {
            opacity: 0;
        }
    }
}