$black: #333;
$white: white;
$offWhite: #eee;
$grey: #ddd;
$brand: #1db954;
$brand--darkened: #189c46;
$warning: tomato;
$warning--darkened: #da543c;

$font--heading: 'Montserrat', sans-serif;
$font--body: 'Lato', sans-serif;