@import '../../scssVariables/index.scss';

.followers {
    color: $black;
    &__count {
        font-family: $font--body;
        font-weight: 300;
        display: inline-block;
        margin-left: 8px;
    }
}