@import '../scssVariables/index.scss';

.heading {
    color: $black;
    font-family: $font--heading;
    font-weight: 700;
    font-size: 1.75rem;
    margin-top: 8px;
    margin-bottom: 8px;
    &.heading--large {
        font-size: 2.25rem;
    }
}